.navbarBody{
    display: flex;
    font-family: Roboto;
    justify-content: space-between; 
    background-color: #f4f4f473; 
}
.links a{
    text-decoration: none ! important;
    margin-right: 1.5rem;
    font-size: .95rem;
    color: #000;
    font-weight: 500;
   
    
}
.links{
    padding: 3rem;

}
.logo img {
    margin-left: 50px;
     height: 60px;
     padding: 2rem;
 }