.company-profile{
    display:grid;
    height: 100%;
    width: 100vw;
}
.company-img img{
    position: relative;
    height: auto;
    width: 100%;
}
.shed{
    position: absolute;
    height: 789px;
    width: 100%;
    background-color:#ffffff2d;
    z-index: 1;
}
.profile{
    position: absolute;
    font-family: Roboto;
    color: #fff;
    height: 500px;
    width: 900px;
    padding: 8rem;
    margin-left: 2.5rem;
    z-index: 10;
    
}
.profile p{
    font-weight: 300;
}
.profile ul{
    list-style: none;
}
.profile h1{
    padding-bottom: 1.5rem;
}