
 .mainBody{
    overflow: hidden;
 }
 /* .navbarBody::after,
 .navbarBody::before{
      
      content:"";
      display: block;
      clear: both;
  } */
 .navbarBody{
     position: fixed;
     top: 0;
    z-index: 20;
    display: flex;
    font-family: Roboto;
    justify-content: space-between; 
    background-color: #fff; 
    height: 95px;
    width: 100vw;
}
.btn-primary {
    font-weight: 500 ! important;  
    font-family: Roboto ! important;
    color: #000 ! important;
    background-color: #fff ! important;
    border-color: #fff ! important; 
}
.links a{
    text-decoration: none ! important;
    margin-right: .6rem;
    font-size: 100%;
    color: #000;
    font-weight: 500;  
    
}
.links{
    margin-top: .6rem;
    padding: 2rem;
    display: flex;
}
.logo img {
    margin-left: 50px;
     height: 100px;
     width: 300px;
     padding: 0rem;
     padding-top: 10px;
 }

.first-section{
    margin-top:100px;
    margin-bottom: 2rem;
    height: auto;
    /* width:100vw; */
}
.a{
    display: flex;
    justify-content: space-between;
}
.first{
    height: 100%;
    width: 60vw;
}
.feature{
    display: flex;
    font-family: Roboto;
    padding-top:2rem;    
    justify-content: flex-start;
    height: 200px;    
    padding: 2rem; 
    margin-left: 31rem;   
}
.fea{
    width: 200px;
    margin-left: 1rem;
}
.fea h2{
    font-size: 80%;
}
.feature p{
    font-size: 70%;
   font-weight: 300;
}

.feature1{
    display: grid;
    justify-content: center;
}
.feature1 img{
    height: 20px;
    width:20px;
}
.feature2{
    display: grid;
    justify-content: center;
}
.feature2 img{
    height: 20px;
    width:20px;
}
.feature3{
    display: grid;
    justify-content: center;
}
.feature3 img{
        height: 20px;
        width:20px;
}

.txt-1{
    font-family: Roboto;
    padding-left: 4rem;
    height:20rem;
    width: 30vw;
    align-self: center;
    font-size:110%;
}
.txt-1 h1{
    font-weight: 900;
    font-size:220%;
    padding-bottom: 2rem; 
}
.second-section{
    display: flex;
    height:100%;
    width: 100vw;
}
.second-section img{
    height:auto;
    width: 60vw;
}
.txt-2{
    font-family: Roboto;
    font-weight: 300;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
}

.txt-2 h1{
    font-weight: 700;
    font-size:200%; 
    margin-bottom: 3rem;
    
}
.txt-2 p{
    font-size: 100%;
    font-weight: 300;
}
.company-profile{
    display:grid;
    height: 100%;
    width: 100vw;
    margin-top: 2rem;
}
.company-img img{
    height: auto;
    width: 100%;
}
.profile{
    position: absolute;
    font-family: Roboto;
    color: #fff;
    height: auto;
    width: 70vw;
    padding: 3rem;
    margin-left: 2.5rem;
    z-index: 10;
    
}
.profile p{
    font-size: 100%;
    font-weight: 300;
}
.profile ul{
    list-style: none;
}
.profile h1{
    font-size: 200%;
    padding-bottom: 1.5rem;
}
.profile h2{
    font-size: 150%;
  
}
.product{
    display: flex;
    height: 100%;
    width: 100vw;
    position: relative;
    margin-top: 2rem;

}
.third-img img{
    height: auto;
    width: 60vw;
}
.txt-3{
    margin-top: 3rem;
    font-family: Roboto;
    font-weight: 300;
    padding: 3rem;
}
.txt-3 h1{
    font-size: 250%;
    padding-bottom: 1rem;
}
.txt-3 h1{
    font-size: 215%;
}
.txt-3 p{
    font-size: 110%;
    padding-left: 2rem;
    font-weight: 300;
}
 .game-dev{
    display:grid;
    height: 100%;
    width: 100vw;
    margin-top: 3rem;
    opacity: .9;
}
.game-dev-img img{
    height: 500px;
    width: 100vw;
}
.game-dev-txt{
    position: absolute;
    color: #fff;
   text-align: center;
   font-size: 110%;
   font-weight: 300;
   padding: 6rem;
   z-index: 10;
   margin-top: 3rem;
}
.game-dev-txt h1{
    font-size: 250%;  
}

.graphicDesign{
    display: flex;
    height:100%;
    width: 100vw;
    margin-top: 3rem;
}
.graphic-img img{
    height:auto;
    width: 65vw;
}
.graphic-txt{
    font-family: Roboto;
    text-align: right;
    font-size: 110%;
    font-weight: 300;
    padding: 3rem;
}
.graphic-txt h1 {
    font-size: 250%;
    padding-bottom: 2rem;

}

.managedIT{
    display: flex;
    height:100%;
    width: 100vw;
    margin-top: 3rem;

}
.managedIt-img img{
    height:auto;
    width: 65vw;
}
.managedIt-txt{
    font-family: Roboto;  
    font-size: 100%;
    font-weight: 300;
    padding: 2rem;
}
.managedIt-txt ul{
    font-size: 100%;
    list-style: none;
    font-weight: 500;
}
.partner{
    display: grid;
    justify-content: center;
    text-align:center;
    height: 300px;
    width: auto;
    background-color: #F4F4F4;
    padding-top: 3rem;
    margin-top: 3rem;
}
.partner h1{
    font-size: 250%;
}
.company img{
  margin-right: 5rem;
    
}
.company1, .company3{
    height: auto;
    width:20%;
}
.company4{
    height: auto;
    width:15%;  
}
.client-profile{
    font-family: Roboto;  
    display: grid;
    height: 100%;
    width: 100vw;
    justify-content: center;
    padding-top: 2rem;
}
.client-profile h1{
    font-size: 250%;
    text-align: center;
}
.client-details{
    display: flex; 
}
.client-details p{
    padding-top: 20px;
    height: auto;
    width: 200px;
    font-size: 110%;
    font-weight: 300;
   
}
.client-info img{
    height: 80px;   
}
.client-info{  
    height: auto;
    width: 200px;
    padding: 3rem;
    margin-right: 5rem;
}
.projects{
    font-family: Roboto;
    display: flex;
    height: 500px;
    width: 100vw;
    justify-content: center;
    background-color: #F4F4F4;
    padding: 3rem;
}
.project-details{
    margin-left: 3rem;
    height: 100%;
    width: 600px;
    padding: 1rem;
}
.project-details label{
    font-size: 150%;
}
.project-details p{
    font-size: 80%;
    font-weight: 300;
}
.project-txt h1{
    font-size: 430%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.footer{
    font-family: Roboto;
    display: grid;
    justify-content: center;
    padding: 3rem;
}
.footer-txt{
    font-size: 110%;
    text-align: center;
}
.footer-txt label{
   font-size: 215%;
}
.footer-link{
    justify-self: center;
}
.footer-link  img{
    height: 30px;
    margin-left: 20px;
}



/* mobile view*/
@media only screen and (max-width: 768px) {

.links{
    display: grid;
    padding: 15%;
    font-size: 50%;
}
.logo img {
    margin-left: 50px;
     height: 100%;
     width: 60%;
     padding: 0rem;
     padding-top: 0;
 }
 .mainBody{
     display: grid;
     
 }
 
.first-section{
    margin-top:500px;
    margin-bottom: 2rem;
}
.a{
    display: grid;
    /* justify-content: space-between; */
}
.first{
    height: 100%;
    width: 100vw;
}
.feature{
    display:grid;
    font-family: Roboto;
    padding-top:2rem;    
    justify-content: center;
    height: 500px;
    padding: 2rem;  
}
.fea{
    width: 100vw;
    margin-left: 0rem;
}
.feature p{
    font-size: 110%;
   font-weight: 300;
}

.feature1{
    display: grid;
    justify-content: center;
}
.feature1 img{
height: 40px;
width:40px;
}
.feature2{
    display: grid;
    justify-content: center;
}
.feature2 img{
    height: 40px;
    width:40px;
}
.feature3{
    display: grid;
    justify-content: center;
}
.feature3 img{
        height: 40px;
        width:40px;
}

.txt-1{
    font-family: Roboto;
    padding-left: 4rem;
    height:20rem;
    width: 80vw;
    align-self: center;
    font-size:50%;
}
.txt-1 h1{
    font-weight: 900;
    font-size:200%;
    padding-bottom: 0rem; 
}
.second-section{
    display: grid;
}
.second-section img{
    height:auto;
    width: 100vw;
}
.company-profile{
    display:grid;
    height: 100%;
    width: 100vw;
}
.company-img img{
    height: auto;
    width: 100%;
    opacity: .9;
}
.profile{
    position: relative;
    font-family: Roboto;
    color: #000;
    height: auto;
    width: 100vw;
    padding: 1rem;
    margin-left: 0rem;
    z-index: 10;
    
}

.product{
    display: grid;
    height: 100%;
    width: 100vw;
    position: relative;

}
.third-img img{
    height: auto;
    width: 100vw;
}
 .game-dev{
    display:grid;
    height: 100%;
    width: 100vw;
    margin-top: 3rem;
    opacity: .9;
}
.game-dev-img img{
    width: 100vw;
}
.game-dev-txt{
    position: relative;
    color: #000;
   text-align: justify;
   font-size: 110%;
   font-weight: 300;
   padding: 02rem;
   z-index: 10;
   margin-top: 0rem;
}
.graphicDesign{
    display: grid;
    margin-top: 0rem;
}
.graphic-img img{
    height:100%;
    width: 100vw;
}
.graphic-txt{
    font-family: Roboto;
    text-align: left;
    height: auto;
    width:100vw;
    font-size: 110%;
    font-weight: 300;
    padding: 2rem;
}
.graphic-txt h1 {
    font-size: 250%;
    padding-bottom: 0rem;

}

.managedIT{
    display: grid;
    margin-top: 0rem;

}
.managedIt-img img{
    height:100%;
    width: 100vw;
}
.managedIt-txt{
    font-family: Roboto;  
    font-size: 110%;
    font-weight: 300;
    padding: 2rem;
    height:auto;
    width: 100vw;
}
.partner{
    display: grid;
    justify-content: center;
    text-align:center;
    height: auto;
    width: 100vw;
    background-color: #F4F4F4;
    padding-top: 3rem;
    margin-top: 3rem;
}
.partner h1{
    
    font-size: 250%;
}
.company img{
    display: grid;
    justify-content: center;
    position: relative;
    padding: 1rem;
  margin-right: 0rem;
    
}
.client-profile{
    font-family: Roboto;  
    display: grid; 
  justify-content: center;
  height: auto;
  width: 100vw;
    padding-top: 1rem;
}
.client-profile h1{
    font-size: 250%;
    text-align: center;
}
.client-details{
    display: grid; 
    justify-content: center;
    height: auto;
    width: 100vw;
}
.client-details p{
    padding-top: 10px;
    height: auto;
    width: auto;
    font-size: 110%;
    font-weight: 300;
   
}
.client-info img{
    height: 80px;  

}
.client-info{  
    height: auto;
    width: 100vw;
    padding: 2rem;
    margin-right: 0rem;
}
.projects{
    font-family: Roboto;
    display: grid;
    justify-content: center;
    background-color: #F4F4F4;
    padding: 0rem;
    height: auto;
    width: 100vw;
}
.project-details{
    margin-left: 0rem;
    height: auto;
    width: 100vw;
    padding: 1rem;
}
.project-details label{
    font-size: 215%;
 font-size: 30px;
}
.project-details p{
    font-size: 110%;
    font-weight: 300;
}
.project-txt h1{
    font-size: 220%;
    writing-mode: unset;
    transform: rotate(0deg);
    text-align:center;
    padding-top:1rem;
}
.footer{
    font-family: Roboto;
    display: grid;
    justify-content: center;
    height: auto;
    width: 100vw;
    padding: 1rem;
}
.footer-txt{
    font-size: 110%;
    text-align: center;
}
.footer-txt label{
   font-size: 215%;
}
.footer-link{
    justify-self: center;
}
.footer-link  img{
    height: 30px;
    margin-left: 20px;
}


}
