.navbar{
    position: fixed;
    height: 80px;
    width: 100vw;
    z-index: 20;
    top: 0;
}
.home{
    position: absolute;
    top: 8.5rem;
}
.game-dev{
    display:grid;
    position: relative;
    top: -3.5rem;
}
.game-dev-img img{
    position: relative;
<<<<<<< HEAD
=======
/*     height: 100%; */
>>>>>>> 95c49f1d8fd1b319024f50c27bc7c1f1d3fc176a
    width: 100vw;
}
.game-dev-txt{
    position: absolute;
    color: #fff;
   text-align: center;
   font-weight: 300;
   padding: 10rem;
}
.graphicDesign{
    display: flex;
    position: relative;
    top: -4rem;
}
.graphic-img img{
    height:749px;
    width: 750px;
}
.graphic-txt{
    font-family: Roboto;
    text-align: right;
    font-weight: 300;
    padding: 6rem;
    position: relative;
    top: 120px;

}
.graphic-txt h1 {
    padding-bottom: 2rem;

}
.managedIT{
    display: flex;
    position: relative;
    top: -11rem;
}
.managedIt-img img{
    height:749px;
    width: 750px;
}
.managedIt-txt{
    font-family: Roboto;  
    font-weight: 300;
    padding: 5rem;
    margin-top:3rem;
}
.managedIt-txt ul{
    list-style: none;
    font-weight: 500;
}
.partner{
    display: grid;
    justify-content: center;
    text-align:center;
    height: 300px;
    background-color: #F4F4F4;
    padding-top: 3rem;
    position: relative;
    top: -11rem;

}

.company img{
  margin-right: 2rem;
    
}
.client-profile{
    font-family: Roboto;  
    display: grid;
    justify-content: center;
    position: relative;
    top: -8rem;
}
.client-profile h1{
    text-align: center;
}
.client-details{
    display: flex; 
}
.client-details p{
    font-weight: 300;
}
.client-info img{
    height: 80px;   
}
.client-info{  
    width: 200px;
    padding: 5rem;
}
.projects{
    font-family: Roboto;
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;
    padding: 5rem;
    position: relative;
    top: -8rem;
}
.project-details{
    margin-left: 3rem;
    width: 700px;
    padding: 2rem;
}
.project-details label{
 font-size: 30px;
}
.project-details p{
    font-weight: 300;
}
.project-txt h1{
    font-size: 90px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.footer{
    font-family: Roboto;
    display: grid;
    justify-content: center;
    margin-top: 40px;
    position: relative;
    top: -6rem;
}
.footer-txt{
    text-align: center;
}
.footer-txt label{
   font-size: 2rem;
}
.footer-link{
    justify-self: center;
}
.footer-link  img{
    height: 30px;
    margin-left: 20px;
}
<<<<<<< HEAD


/* for mobile view */

@media only screen and (max-width: 768px){

    .first-section{
        display: flex;
        justify-content: space-between;
    }
    .slide-1{
        display: grid;
    }
    .slide-1 img{  
        Width :300px;
        Height:300px;
    }
    .feature{
        display: flex;
        font-family: Roboto;
        padding-top:0rem;    
        justify-content: space-between;
        height: 100px;
        padding: 0rem;
    }
    .fea{
        width: 40px;
    }
    .fea h2{
        font-size: .6rem;
    }
    .feature p{
       font-weight: 300;
       font-size: .4rem;
    }
    
    .feature1{
        display: grid;
        justify-content: center;
    }
    .feature1 img{
    height: 10px;
    width: 20px;
    }
    .feature2{
        display: grid;
        justify-content: center;
    }
    .feature2 img{
        height: 10px;
        width:10px;
    }
    .feature3{
        display: grid;
        justify-content: center;
    }
    .feature3 img{
            height: 10px;
            width:10px;
    }
    
    .txt-1{
        font-family: Roboto;
        padding-top: 6rem;
        padding-left: 2rem;
        height:5rem;
        width: 3rem;
        font-size:.3rem; 
    }
    .txt-1 h1{
        font-weight: 900;
        font-size:.6rem; 
    }



    .second-section img{
        height:200px;
        width: 200px;
    }
    .txt-2{
        font-family: Roboto;
        font-weight: 300;
        position: relative;
        top: 0px;        
    }    
    .txt-2 h1{
        font-weight: 700;
        font-size:10px;      
        margin-bottom: 0;
    }
    .txt-2 p{
        font-size: .2rem;
        font-weight: 300;
    }
    .company-profile{
       
        position: relative;
        top: -19rem;
    }
    .company-img img{
        position: relative;
        height: 800px;
        width: 99vw;
    }
    .profile{
        position: absolute;
        font-family: Roboto;
        font-weight: 300;
        color: #fff;
        height: 300px;
        width: 350px;
        padding: 2rem;
        font-size: .4rem;
        margin-left: 0;
        top: 16rem;
        
    }
    .profile p{
        font-weight: 300;
    }
    .profile ul{
        list-style: none;
        font-weight: 300;
    }
    .profile h1{
        padding-bottom: 1rem;
        font-weight: 300;
        font-size: .6rem;
    }
    .profile h2{
        font-weight: 300;
        font-size: .5rem;
    }
    .product{
        display: flex;
        position: relative;
        top: -37rem;
    }
    .third-img img{
        height: 200px;
        width: 200px;
    }
    .txt-3{
        font-family: Roboto;
        font-weight: 300;
        position: relative;
        top: 30px;
        padding: 1rem;
    }
    .txt-3 h1{
        font-size: .6rem;
        padding-bottom: 0;
    }
    .txt-3 h2{
        font-size: .4rem;
        padding-bottom: 0;
    }
    .txt-3 p{
        padding-left: 0;
        font-weight: 300; 
        font-size: .4rem;
    }
    .game-dev{
        display:grid;
        position: relative;
        top: -37rem;
    }
    .game-dev-txt{
        position: absolute;
        color: #fff;
       text-align: center;
       font-weight: 300;
       padding: 2rem;
       font-size: .4rem;
    }
    .graphicDesign{
        display: flex;
        position: relative;
        top: -37rem;
    }
    .graphic-img img{
        height:200px;
        width: 200px;
    }
    .graphic-txt{
        font-family: Roboto;
        text-align: right;
        font-weight: 300;
        padding: 2rem;
        position: relative;
        top: 25px;
        font-size: .4rem;
    
    }
    .graphic-txt h1 {
        padding-bottom: 0;
        font-size: .6rem;
    
    }
    .managedIT{
        display: flex;
        position: relative;
        top: -38rem;
    }
    .managedIt-img img{
        height:200px;
        width: 200px;
    }
    .managedIt-txt{
        font-family: Roboto;  
        font-weight: 200;
        padding: 1rem;
        margin-top:1rem;
        font-size: .3rem;
    }
    .managedIt-txt h1{
        font-size: .6rem;
    }
   
    .partner{
        display: grid;
        justify-content: center;
        text-align:center;
        height: 80px;
        background-color: #F4F4F4;
        padding-top: 1rem;
        position: relative;
        top: -38rem;    
    }  
    .partner h1{
        font-size: .6rem; 
    }  
    .company img{
      margin-right: 0rem;
      height: 25px;
      width: 40px;        
    }
    .client-profile{
        font-family: Roboto;  
        display: grid;
        justify-content: center;
        position: relative;
        top: -36rem;
    }
    .client-profile h1{
        text-align: center;
        font-size: .6rem; 
    }
    .client-details{
        display: flex; 
    }
    .client-details p{
        font-weight: 300;
        font-size: .3rem; 
    }
    .client-info img{
        height: 30px;   
    }
    .client-info{  
        width: 80px;
        padding: 1rem;
    }
    .projects{
        font-family: Roboto;
        display: flex;
        justify-content: center;
        background-color: #F4F4F4;
        padding: 1rem;
        position: relative;
        top: -35rem;
    }
    .project-details{
        margin-left: 0rem;
        width: 100px;
        padding: 0;
    }
    .project-details label{
     font-size: .6rem;
    }
    .project-details p{
        font-weight: 300;
        font-size: .3rem;
    }
    .project-txt h1{
        font-size: 60px;
        padding-left: 4rem;        
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    .footer{
        font-family: Roboto;
        display: grid;
        justify-content: center;
        margin-top: 0px;
        position: relative;
        top: -33rem;
    }
    .footer-txt{
        text-align: center;
        font-size: .3rem;
    }
    .footer-txt label{
       font-size: .6rem;
    }
    .footer-link{
        justify-self: center;
    }
    .footer-link  img{
        height: 10px;
        margin-left: 10px;
    }


}
=======
>>>>>>> 95c49f1d8fd1b319024f50c27bc7c1f1d3fc176a
